*~
*.py[cod]
*.so
.DS_Store
.f2py_f2cmap
*code-workspace*


# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# User Folders:
.scrapy
_sandbox_/
_debug/
qiskit_metal/qlibrary/user_components/*
!qiskit_metal/qlibrary/user_components/__init__.py
!qiskit_metal/qlibrary/user_components/my_qcomponent.py

# Sphinx documentation
docs/build
docs/_build/
docs/.buildingdocs
docs/stubs
docs/build/doctrees
docs/tut/**/*.png
docs/circuit-examples/**/*.png
docs/_utility/*.png

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
venvz/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Pycharm stuff
.idea/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# temporary, installs and results
.vs
tutorials/**/*.png
tutorials/**/*.jpg
tutorials/**/*.tif
tutorials/**/*.csv
docs/**/*.csv
*.gds
!tutorials/resources/**
__pycache__

# mypy
.mypy_cache/
.~lock.*
*.aedtresults/*
*.aedtresults*
*.aedt.lock
settings.json

# others
Qiskit-Metal.code-workspace
qiskit_metal/.pylintrc
launch.json
