name: qiskit-metal
channels:
  - conda-forge
  - defaults
dependencies:
  - python>=3.7
  - addict
  - descartes
  - gdspy>=1.5.2
  - geopandas
  - ipython
  - matplotlib
  - numpy
  - pandas
  - pint
  - pyepr-quantum>=0.8.4.6
  - pygments
  - pyside2
  - qutip
  - scipy
  - shapely
  - jupyter
