# Dev tools
jupyter
jupyterlab

# Build tools
wheel

# Formatters
pylint
yapf

# Doc Build
sphinx
numpydoc
sphinx-automodapi
jupyter-sphinx==0.3.1
nbsphinx
qiskit-sphinx-theme
jupyter-nbgallery==2.0.0

# Unit tests
pytest
