# Patches
notebook==6.4.2

# Dev tools
jupyter
jupyterlab

# Build tools
wheel

# Formatters
pylint
yapf

# Doc Build
sphinx
numpydoc
sphinx-automodapi
jupyter_sphinx
nbsphinx==0.8.6
qiskit-sphinx-theme
jupyter_nbgallery

# Unit tests
pytest
