addict==2.2.1
cycler==0.10.0
descartes==1.1.0
docutils==0.16
gdspy==1.6.1
geopandas==0.8.1
ipython==7.19.0
jedi==0.17.2
matplotlib==3.3.3
numpy==1.19.4
pandas==1.1.4
pint==0.16.1
pyEPR-quantum>=0.8.4.2
Pygments==2.7.2
pyqode.python==2.12.1
pyside2>=5.9, <5.14
scipy==1.5.3
Shapely==1.7.1
