---
name: Publish Documentation
on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Build and Publish Documentation
    runs-on: ubuntu-24.04
    env:
      FORCE_COLOR: "1"
      UV_MANAGED_PYTHON: "True"
      UV_PYTHON: "3.11"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: astral-sh/setup-uv@v7
        with:
          # Install a specific version of uv.
          version: "0.9.17"
          enable-cache: true
      # Install OS dependencies 
      - name: Fetch OS updates and upgrade packages
        run: sudo apt-get update && sudo apt-get upgrade -y
        ## For the following line, do we need these packages for docs build?
        ## Should we update to Qt6 libraries?
      - name: Install OS dependencies 
        run: sudo apt-get install -y graphviz=2.42.2-9ubuntu0.1 pandoc=3.1.3+ds-2 qtbase5-dev=5.15.13+dfsg-1ubuntu1 qt5-qmake=5.15.13+dfsg-1ubuntu1
      - name: Build docs
        run: uvx --with tox-uv tox -vv -e docs 
      - name: Bypass Jekyll Processing # Necessary for setting the correct css path
        run: touch docs/_build/html/.nojekyll
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/_build/html/
