name: Testing and Linting
on: 
  # Run this workflow every time a new commit is pushed to or a pull request is created from one of these branches
  push:
    branches: [main, "stable/*"]
  pull_request:
    branches: [main, "stable/*"]
  
jobs:
  # OLD NOTE: The ubuntu-24.04 and macos-latest tests have been separated out because ubuntu
  # requires installing some additional libraries (libglu1-mesa) for Gmsh to run. Please
  # consider this aspect before combining the tests for both the OS platforms.

  ## NEW NOTE: The tests have been combined into a single job for all OS platforms.
  tests:
    # Name the Job
    name: tests-python${{ matrix.python-version }}-${{matrix.os}}
    # Set the type of machine to run on
    runs-on: ${{ matrix.os }}
    # Set matrix for runs-on
    env:
      FORCE_COLOR: "1"
      UV_MANAGED_PYTHON: "True"
      UV_PYTHON: ${{ matrix.python-version }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - macos-15
          - windows-2025
        python-version: 
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: astral-sh/setup-uv@v7
        with:
          # Install a specific version of uv.
          version: "0.9.17"
          enable-cache: true
      # Install OS dependencies 
      - name: Install Gmsh dependencies for Ubuntu
        if: ${{ startsWith(matrix.os, 'ubuntu-') }}
        run: |
          sudo apt-get update && sudo apt-get upgrade -y
          sudo apt-get install -y libglu1-mesa libglu1-mesa-dev libegl1-mesa-dev
      - name: Run Tests
        run: uvx --with tox-uv tox -vv -e py

  lint:
    name: lint
    runs-on: ubuntu-24.04
    env:
      FORCE_COLOR: "1"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: astral-sh/ruff-action@v3
        with:
          ## TODO: Remove --exit-zero once linting is finalized.
          args: "check --exit-zero"



