name: Release Artifacts
on:
  push:
    tags:
      - "*"
jobs:
  wheel-build:
    name: Build and Publish Release Artifacts
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: "3.12"
      - name: Install Deps
        run: |
          python -m pip install -U pip
          python -m pip install -U build twine
      - name: Build Artifacts
        run: |
          python -m build
          twine check dist/*
        shell: bash
      - uses: actions/upload-artifact@v4
        with:
          path: ./dist/*
      - name: Publish to PyPi
        env:
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
          TWINE_USERNAME: qiskit
        run: twine upload dist/*
